a {
  text-decoration: none;
  color: black;
}
.header-wrapper {
  height: 100px;
  box-shadow: 0 0 20px 20px rgb(202, 245, 46), 0 0 10px 10px rgb(204, 68, 231) inset;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgb(202, 245, 46);
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .text-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    .header-text {
      margin: 0;
      font-size: 32px;
      padding: 0 6rem;
      letter-spacing: 10px;
      white-space: nowrap;
      animation: move-rtl 2000ms linear infinite;
  
      @keyframes move-rtl {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }
}