*, *::before, *::after {
  box-sizing: border-box;
}

.page-wrapper {
  background-color: rgb(197, 226, 217);
  background-image: url('../pictures/sparkle-41971.png');
  background-size: 200px 200px;

}